@charset "UTF-8";

@font-face {
    font-family:android;
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #ebe5c5;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a.externo:after{
    content: '\00A0\1F517';
}

header{
    background-image: linear-gradient(to right, #2fa866, #063d1e );
    min-width: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color:white ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
        text-shadow: 2px 2px 0px #000000;
}

header > p{
    color: white;
    font-size: 1.3em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px #000000;
}

nav {
    background-color: #063d1e;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.356);
}

nav > a{
    color:#83e1ad;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover{
    background-color: #1a5c37;
    color:#2fa866
}

main{
    min-width: 300px;
    max-width: 1000px;
    background-color: #ffffff;
    margin-bottom: 30px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.589);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1{
    color:#063d1e;
    font-family: 'android', cursive;
    font-weight: normal;
    font-size: 1.8em;
}

main h2{
    font-family: 'android', cursive;
     color:#1a5c37;
     font-size: 1.3em;
     background-image: linear-gradient(to right, #83e1ad, transparent);
     font-weight: normal;
     font-size: 1.3em;
}

main img{
    width: 100%;
}

main p{
    margin: 15px 0px;
    text-align: justify;
}

main strong{
    text-decoration: none;
    font-weight: bold;
    color:#063d1e;
    padding: 2px 6px;
}

main a{
     color: #1a5c37;
     font-weight: bold;
    background-color:#3ddc84;
    padding: 2px 6px;
    text-indent: 8px;
}

main a:hover{
    text-decoration: underline;
    color: #2fa866;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
div.video{
    background-color: #063d1e;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    background-color: #83e1ad;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside > h3{
    background-color: #1a5c37;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul{
    list-style-position: inside;
    columns: 2;
}
footer{
    background-color:#063d1e;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: #83e1ad;
}